<body>
	<div>
		<h1>Welcome to Ray's discord bot web app</h1>
		<br>
	</div>
	<div>
		<form action="display_users" method="get">
			Enter server id to show all users with recorded messages in a server<br>
			<input type="text" name="server_id">
			<input type="submit" value="Display All Users"><br>
		</form>
		<form action="display_top" method="get">
			Enter server id to show users with the most messages in the server<br>
			<input type="text" name="server_id">
			<input type="submit" value="Display Top Users"><br>
		</form>
		<form action="display_words" method="get">
			Enter server id then a user id to show the most used words from a user<br>
			<input type="text" name="server_id">
			<input type="text" name="user_id">
			<input type="submit" value="Display Top Words"><br>
		</form>
		<div>
			{% for msg in message %}
      			<p>{{ msg }}</p>
			{% endfor %}
		</div>
	</div>
</body>
</html>